<footer class="footer section">
    <div class="container">
        <div class="footer-row">
            <div class="footer-column vertical">
                    <!-- <img src="" alt="Block logo in white" data-w-id="604143db-6433-9dc0-c07a-4724fdd04c3f"/>  Footer log  in white -->

                <nav class="social-nav ">
                    <div class="social-links">
                    <h3 class="heading small uppercase faded-blue">CONTACT US</h3>
                    <a href="https://www.facebook.com/analytics4blockinsights" class="social-link w-inline-block">
                        <img src="@routes.Assets.versioned("images/facebook.svg")" alt="Facebook Icon"/>
                    </a>
                    <a href="https://twitter.com/_BlockInsights_" class="social-link w-inline-block">
                        <img src="@routes.Assets.versioned("images/twitter.svg")" alt="Twitter icon"/>
                    </a>
                    <a href="https://www.linkedin.com/company/block-insights/" class="social-link w-inline-block">
                        <img src="@routes.Assets.versioned("images/linkedin.svg")" alt="LinkedIn icon"/>
                    </a>
                    <a href="mailto:feedback@@blockinsights.co.uk?subject=Web enquiry" class="social-link w-inline-block">
                        <img src="@routes.Assets.versioned("images/email.svg")" alt="E-mail icon"/>
                    </a>
                    </div>
                </nav>
            </div>
            <nav class="footer-column horizontal">
                <div class="footer-links">
                    <h3 class="heading small uppercase faded-blue">COMPANY</h3>
                    <a href="@routes.HomeController.index()" class="footer-link margin-top">Home</a>
                    <a href="/#about" class="footer-link">About</a>
                    <a href="/#features" class="footer-link">Features</a>
                </div>
                <div class="footer-links">
                    <h3 class="heading small uppercase faded-blue">PRODUCT</h3>
                    <a href="#upcoming-release" class="footer-link margin-top">Upcoming</a>
                </div>
                <div class="footer-links">
                    <h3 class="heading small uppercase faded-blue">FEEDBACK</h3>
                    <a href="/feedback" class="footer-link margin-top">Feedback</a>
                </div>
            </nav>
        </div>
        <div class="footer-copyright">Copyright 2022 Block Insights. All Rights Reserved. </div>
    </div>
</footer>
