<div data-collapse="medium" data-animation="default" data-duration="400" class="nav w-nav">
    <div class="container nav-container">
        <a href="@routes.HomeController.index()" class="nav-brand w-nav-brand">
            <img src="@routes.Assets.versioned("images/5d49cc30faeb2d9d4b2e9f83_Logo.svg")" alt="Block Logo"/>
        </a>
        <nav role="navigation" class="nav-links w-nav-menu">
            <div class="info-links">
                <a href="/#about" class="nav-link w-nav-link">About</a>
                <a href="/#features" class="nav-link w-nav-link">Features</a>
                <a href="/feedback" class="nav-link w-nav-link">Feedback</a>
            </div>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
        </div>
    </div>
</div>