@(addToSlackUrl: String)
@main("Block Insights - Access free real-time mempool data") {

    <main class="main">
        <div class="header section">
            <div class="container justify-left">
                <div style="opacity: 0;
                    -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-one">
                    <h1 class="heading center"> <b> Block Insights </b> </br> </h1>
                </div>
                <div style="opacity: 0;
                    -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-two">
                    <h3 class="heading left">Do you want to know when the Bitcoin price is likely to change?</br> </h3>
                    <p class="sub-heading left" style="color: #800080">
                        Bitcoin investors can gain insight on likely price volatility by monitoring the frequency and size of transactions (flow) in real-time.
                    </p>
                    <p class="sub-heading left" >
                        <b> Greater flow of bitcoins to different addresses  = greater price movements (volatility) on BTC/USD. </b>
                        <br>
                        <br>
                        Being aware of changes in flow can alert investors to the need for action, such as check the news: 'whales'
                        (larger holders of Bitcoin) are moving and causing waves. Block Insights can provide you
                        with this powerful information for free and allow you to set the minimum transaction size you want to monitor from 1 BTC upwards,
                        <span style="color: green;
                            font-weight: bold;">with no limits on the number of alerts,</span>
                        <span style="color: lightcoral;">unlike like competitor services. </span>
                        <br>
                        <br>
                        This could be the beginning of your journey with Block Insights where the team of PhDs leading this project
                        aim to bring analytics and information to people to help advance and democratise distributed ledger technology.
                        The first port of call on this journey is to support crypto-investors. Follow our short Q and A path, and see if Block insights
                        is for you and become an early adopter or ambassador and drive the community.

                        <br>
                        <br>
                        <b> Q1) Do you want to be alerted of large Bitcoin transactions just before they are processed by the network? </b>
                        <br> <span style="color: #3cb371">
                        (Giving you insight into future price volatility and network activity.) </span>
                        <br>
                        <br>
                        <a href="#q1_yes_alerted_of_large_btc">a) YES</a>
                        <br>
                        <a href="#q1_no_alerted_of_large_btc">b) NO</a>
                        <br>
                        <br>

                        <a id="q1_yes_alerted_of_large_btc">  <b>  Q2) Have you ever used or heard of SLACK? </b>
                            <br>
                            We currently deliver our transaction monitoring service through SLACK a very popular business
                            social media/communication/collaboration tool, like WhatsApp for inside a business, and sometimes
                            between businesses.</a>
                        <br>
                        <a href="#q2_yes_i_use_slack">a) YES, I use SLACK</a>
                        <br>
                        <a href="#q2_yes_but_never_used_slack">b) YES, but I have never used SLACK </a>
                        <br>
                        <a href="#q2_no"> c) NO</a>
                        <br>
                        <a id="q2_no"> <b>
                            SLACK is used by more than 200,000 paying customers. It has a free version, which can
                            be used for your Block Insights' alerts</b> </a>
                        <br>
                        <a id="q2_yes_but_never_used_slack">
                            At this stage Block Insights are using SLACK as our method to deliver real-time
                            information, because it provides a well-tested working user interface. It allows us to get a service
                            that people can use up and running quickly by not rebuilding existing components,
                            <span style="color: #3cb371"> "standing on the shoulders of giants". </span>
                        </a>
                        <br>
                        As you don't have an existing SLACK account, you would need to set up one to use our service.
                        This is quite simple (note: SLACK will encourage you to use a work email, but this is not required,
                        your personal email can be used). You can additionally simplify your efforts by using social sign-ons from
                        Google or Apple to set-up your SLACK account (aka Workspace). If not, using social sign-on
                        you will need to verify ownership of your email address and then create a workspace and provide a few details,
                        you can skip steps like adding colleagues, which is optional.
                        (Note: SLACK is a useful tool that is probably worthwhile in itself, perhaps create a private investor community
                        among colleagues and friends.)
                        <span STYLE="font-size: 16.0pt;
                            color: coral"> Please make sure you come back to blockinsights.co.uk to
                            complete the final steps for your real-time alerts. </span>
                        <br>
                        <br>
                <h2 > <a href="https://slack.com/get-started#/createnew" target="_blank">
                    Create a SLACK workspace</a> </h2>
                    <br>
                    <br>

                    <h4> <a id="q2_yes_i_use_slack"> <b>
                        Now, read through the bullets points of advice and press the "ADD TO SLACK" button below.
                    </b> </a> </h4>
                    <span STYLE="font-size: 16.0pt;
                        color: blueviolet">It will take you through our Block Insights sign-up process and
                        the steps to getting your personalised transaction alerts in SLACK. </span>
                    <br>
                    <br>
                    There are a few steps, so bear with it, once the app is set-up in SLACK it is very simple.
                    <br>
                    <br>
                    <ol>
                        <li>Sign-up to Block Insights first with an email and password or use the social sign-on <br>
                            (if you are already logged into
                            Slack in your browser and use Slack social sign-on that will give you the smoothest process, 2 clicks)</li>
                        <li>If not logged into Slack, once you press "Sign up" and have provided an email and password, you will just need to
                            allow access to Slack </li>
                        <li>You may want to take a screenshot of the welcome page, but instructions can also be found in Slack itself, by looking at
                            Apps in the bottom left hand menu in SLACK and clicking on the block-insights app, or go to the SLACK app store page for
                            Block Insights (details in Appendix below)</li>
                        <li>
                            Go into Slack (logging-in via browser is an option rather than installing the desktop app (on linux it is best to use the browser version))
                            and follow the instructions and invite the crypto-alert app into a channel by typing /crypto-alert x and press return or send button
                            (e.g., replace x with 1000 if you want to see only BTC transactions greater than 1000 BTC in value) in the channel chat,
                            and get your alerts. That simple!</li>
                    </ol>

                    <br>
                    <div class="container justify-center">
                        <div style="opacity: 0;
                            -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-three">
                            <button onclick="callSecretApi()" class="button slack w-inline-block" id="addToSlackBtn">
                                <img src="@routes.Assets.versioned("images/slack_logo.svg")" alt="The Slack logo." width="61.5"
                                class="slack-logo"/>
                                <div>Add to Slack</div>
                            </button>
                            <br>
                            <br>
                            Once you are set up you should get the following, if you are having any problems getting the alerts working
                            then click 'YES' to Q3 below
                            <br>
                            <br>
                            <figure>
                                <img src="@routes.Assets.versioned("images/set_crypto_alerts_with_example_trans.svg")" alt="Give a name to your new channel"/>
                                <figcaption> <b> Set a threshold and start alerts. This screenshot shows transactions
                                    after the /crypto-alert 12 command has been given and for illustration purposes how you would
                                    have originally typed it into the channel chat. You can pause alerts with /pause-alerts entered into the
                                    channel chat and resume them at the same threshold with /resume-alerts. </b> </figcaption>
                            </figure>
                            <br>
                            <br>
                        </div>
                    </div>
                    <h3>
                        Q3) Do you need detailed instructions/screenshots for getting the crypto-alert app working in SLACK? </h3>
                    <br>
                    <a href="#q3_yes_i_want_detailed_instructions"> a) YES </a>
                    <br>
                    <a href="#q1_no_alerted_of_large_btc">b) NO </a>
                    <br>


                    <h1 class="heading left">  <a id="q1_no_alerted_of_large_btc"> Future Services <br> </a> </h1>
                    <br>
                    Perhaps you might be interested in one of our near future proposed
                    services or want to suggest a service you would love to exist or wished was more accessible.
                    <br>
                    <br>
                    <ol>
                        <li>Get alerts whenever transactions happen in connection with specific Bitcoin addresses</li>
                        <li>Get special network activity measures, such as our version of the clustering coeffcient
                            that has been shown to indicate bubbles and crashes in the Bitcoin price</li>
                    </ol>

                    If so, please use our feedback form to mention a new service you
                    have thought of or pick one of our proposals above. <h4> <a href="/feedback">Feedback Form. </a> </h4>

                    <br>
                    <b> At this point we would like to thank you for taking the time to look at Block Insights. </b>
                    <br>
                    <hr style="height: 4px;
                        color: goldenrod">
                    <h1 class="heading left">  <a id="q3_yes_i_want_detailed_instructions"> Appendix  <br> </a> </h1>
                    <span STYLE="font-size: 16.0pt;
                        color: DarkKhaki"> Detailed Instructions for SLACK crypto-alert set-up </span>
                    <br>
                    We suggest you add a new channel to SLACK for each of your alerts.
                    <br>

                    <figure>
                        <img src="@routes.Assets.versioned("images/add_channel_slack.svg")" alt="Add a new slack channel/>
                          <figcaption> <b> Add a new slack channel </b> </figcaption>
                </figure>


            <br>
          <br>
          <br>
                <br>
                    <figure>
                          <img src="@routes.Assets.versioned("images/create_channel_with_name.svg")
                        " alt="Give a name to your new channel"/>
                        <figcaption> <b> Give a name to your new channel </b> </figcaption>
                    </figure>
                    <br>
                    <br>
                    <br>
                    Now you can pick your BTC minimumn transaction size theshold and start alerts in your channel. See the following screenshot.

                    <figure>
                        <img src="@routes.Assets.versioned("images/set_crypto_alerts_with_example_trans.svg")" alt="Start Alerts"/>
                        <figcaption> <b> Set a threshold and start alerts. This screenshot shows transactions
                            after the /crypto-alert 12 command has been given and for illustration purposes how you would
                            have originally typed it into the channel chat. You can pause alerts with /pause-alerts entered into the
                            channel chat and resume them at the same threshold with /resume-alerts. </b> </figcaption>
                    </figure>
                    <br>
                    <br>
                    <br>


                    <h1 class="heading left">  Block Insights in the SLACK app store  </h1>
                    <br>
                    You can also find the Block Insights /crypto-alert app's usage instructions from the SLACK app store page. And, if already
                    a SLACK user you could find and add us directly via the app store route.

                    <figure>
                        <img src="@routes.Assets.versioned("images/add_block_insights_via_slack_app_store.svg")" alt="Find Block Insights in the SLACK app store"/>
                        <figcaption> <b> Find Block Insights /crypto-alerts directly in the SLACK app store </b> </figcaption>
                    </figure>

                    <figure>
                        <img src="@routes.Assets.versioned("images/block_insights_app_in_slack_with_instructions.svg")" alt="SLACK app store page"/>
                        <figcaption> <b>
                            Get instructions for Block Insights /crypto-alerts from the SLACK app store page </b> </figcaption>
                    </figure>

                    We hope at this stage you have everything working and are finding your alerts useful. At this point you might
                    want to suggest your future needs. If so, please go to <a href="#q1_no_alerted_of_large_btc">
                    Future Services.  </a>
                    However, if you are still having problems with the alerts working please contact us through our <a href="/support">
                    Support Form. </a>

                    </p>
                </div>

            </div>
        </div>
        </div>
        </div>
        </div>


    </main>

}

