@(addToSlackUrl: String)
@main("Block Insights - Access free real-time mempool data") {

<main class="main">
  <div class="header section">
    <div class="container justify-center">
      <div style="opacity: 0;
          -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-one">
        <h1 class="heading center">Block Insights </br> </h1>
      </div>
      <div style="opacity: 0;
          -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-two">
        <p class="sub-heading center">
          Track transactions  across different  blockchains, including:
          <br>Bitcoin, Ethereum, Solana, Polygon, Binance and more. </br>
        </p>
      </div>
      <!-- Slack link -->
      <div style="opacity: 0;
          -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-three">
        <button onclick="callSecretApi()" class="button slack w-inline-block" id="addToSlackBtn">
          <img src="@routes.Assets.versioned("images/slack_logo.svg")" alt="The Slack logo." width="61.5"
          class="slack-logo"/>
          <div>Add to Slack</div>
        </button>
      </div>
    </div>
  </div>
  <div id="about" class="features section">
    <div class="container">
      <h2 class="heading center">Access free real-time <br> mempool data</h2>
      <p class="sub-heading center">
        Subscribe to our automatic alert service for large transactions on Slack.
        <br> Simply enter a custom currency and threshold.</b>
      </p>
      <div  class="feature-section w-row">
        <div class="w-col w-col-6">
          <div id="features" class="feature-content">
            <h3 class="heading medium">About</h3>
            <p class="text">Block Insights provides real-time tracking and analysis of large transactions,
              making mempool data freely accessible to ecosystem participants
            </p>
            <p class="text">
              Every second, thousands of new transactions appear in the mempool
            </p>
            <ul>
              <li>  Our alert service traces transactions across public blockchains over an entire transactions
                lifecycle, from inception to finality.
              </li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-6">
          <figure class="figure">
            <img src="@routes.Assets.versioned("images/slack-alerts.png")" alt="An image of how Block Inisghts works with Slack by sending anonymous feedback."/>
          </figure>
        </div>
      </div>
      <div class="feature-section reverse w-row">
        <div class="w-col w-col-6 w-col-stack">
          <figure class="figure">
            <img src="@routes.Assets.versioned("images/slack-cmd.png")" alt="An image of Block Insights Sack slash
            commands"/>
          </figure>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="feature-content">
            <h3 class="heading medium">Features</h3>
            <ul>
              <p class="text"> Unmatched per-event resolution data on mempool transactions</p>
              <ul>
                <li>
                  Receive in-flight event data on any transaction before it is confirmed on-chain.
                </li>
              </ul>
              <p class="text"> Monitor the mempool with instant updates for every transaction state change, error sent to your Slack, Discord, and more</p>
              <ul>
                <li>
                  Customize alerts based on market price, volume, ETH gas fees, and Bitcoin mempool size.
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="feature-section reverse w-row">
        <div class="w-col w-col-6">
          <figure class="figure">
            <img src="@routes.Assets.versioned("images/upcoming.png")" alt="An image of Block Insight upcoming
            features"/>
          </figure>
        </div>
        <div class="w-col w-col-6">
          <div id="upcoming-release" class="feature-content">
            <h3 class="heading medium"> Upcoming Releases </h3>
            <p class="text">Custom alerts based on:</p>
            <ul>
              <li>
                Volume, Wallet, ETH gas fees, and Mempool size.
              </li>
            </ul>
            <p class="text">Coverage for other transaction status including:</p>
            <ul>
              <li> Pending – a new transaction was detected in mempool is eligible for inclusion in a block </li>
              <li> Failed – mined transaction failed to execute due to an EVM error. </li>
              <li>Stuck - A transaction was detected in the mempool Queued area but is not eligible for inclusion in a block.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

</main>

}

