@(addToSlackUrl: String)
@main("Block Insights - Access free real-time mempool data") {

<main class="main">
  <div class="header section">
    <div class="container justify-left">
      <div style="opacity: 0;
          -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-one">
        <h1 class="heading center"> <b> Block Insights </b> </br> </h1>
      </div>
      <div style="opacity: 0;
          -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-two">
        <h3 class="heading left">Do you want to know when the Bitcoin price is likely to change?</br> </h3>
        <p class="sub-heading left" style="color:#800080">
          Bitcoin investors can gain insight on likely price volatility by monitoring the frequency and size of transactions (flow) in real-time.
        </p>
          <p class="sub-heading left" >
            <b> Greater flow of bitcoins to different addresses  = greater price movements (volatility) on BTC/USD. </b>
            <br>
            <br>
          Being aware of changes in flow can alert investors to the need for action. Block Insights can provide you
          with this powerful information for free and allow you to set the minimum transaction size you want to monitor from 1 BTC upwards.
            <br>
            <br>
            This could be the beginning of your journey with Block Insights where the team of PhDs leading this project
            aim to bring analytics and information to people to help advance and democratise distributed ledger technology.
            The first port of call on this journey is to support crypto-investors. Follow our short Q and A path, and see if Block insights
            is for you and become an early adopter or ambassador and drive the community.

            <br>
            <br>
            <b> Q1) Do you want to be alerted of large Bitcoin transactions just before they are processed by the network? </b>
            <br> <span style="color: #3cb371"> (Giving you insight into future price volatility and network activity.) </span>
            <br>
            <br>
            <a href="#q1_yes_alerted_of_large_btc">YES</a>
            <br>
            <a href="#q1_no_alerted_of_large_btc">NO</a>
            <br>
            <br>

            <a id="q1_yes_alerted_of_large_btc">  <b>  Q2) Have you ever used or heard of SLACK? </b>
              <br> We current deliver our transaction monitoring service through SLACK a very popular business
              social media/communication/collaboration tool, like WhatsApp for inside a business, and sometimes
              between businesses.</a>
            <br>
            <a href="#q2_yes_i_use_slack">YES, I use SLACK</a>
            <br>
            <a href="#q2_yes_but_never_used_slack">YES, but I have never used SLACK </a>
            <br>
            <a href="#q2_no">NO</a>
            <br>
            <a id="q2_no"> <b> SLACK is used by more than 200,000 paying customers. It has a free version, which can
            be used for your Block Insights alerts</b> </a>
            <br>
            <a id="q2_yes_but_never_used_slack"> At this stage Block Insights are using SLACK as our method to deliver real-time
            information, because it provides a well-tested working user interface. It allows us to get a service
            that people can use up and running quickly by not rebuilding existing components,
              <span style="color: #3cb371"> "standing on the shoulders of giants". </span>
            </a>
            <br>
            As you don't have an existing SLACK account, you would need to set up one to use our service.
            This is quite simple (note: SLACK will encourage you to use a work email, but this is not required,
            your personal email can be used). You can additionally simplify your efforts by using social sign-ons from
            Google or Apple to set-up your SLACK account (aka Workspace). If not, using social sign-on
            you will need to verify ownership of your email address and then create a workspace and provide a few details,
            you can skip steps like adding colleagues, which is optional.
            (Note: SLACK in itself is a useful tool that is probably worthwhile in itself, perhaps create a private investor community
            among colleagues and friends.)
            Please make sure you come back to blockinsights.co.uk to complete the final steps for your real-time alerts.
            <br>
            <br>
            <h2> <a href="https://slack.com/get-started#/createnew" target="_blank">Create a Slack workspace</a> </h2>
            <br>
            <br>

        <h4> <a id="q2_yes_i_use_slack"> <b> Now, read through the bullets points of advice and press button below.
        It will take you through our Block Insights sign-up process. </b> </a> </h4>
                There are a few steps, so bear with it, once the app is set-up in slack it is very simple.
                <ol>
                    <li>Sign-up to Block Insights first with an email and password or use the social sign-on <br> (if you are already logged into
                    Slack in your browser and use Slack social sign-on that will give you the smoothest process, 2 clicks)</li>
                    <li>If not logged in Slack, then once you have provided an email and pass </li>
                    <li>Take a screenshot of the welcome page, but instructions can be found in Slack itself</li>
                  </ol>
            which also has social sign-up. For simplicity, we suggest you use you recently set-up or existing SLACK account
              If you are already logged into Slack in your browser it will be even smoother.
        (By the way, our app is just clearing the last hurdles to be a Slack approved app.)
        <br>
      <div class="container justify-center">
        <div style="opacity: 0;
          -webkit-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="page-load fade-three">
          <button onclick="callSecretApi()" class="button slack w-inline-block" id="addToSlackBtn">
            <img src="@routes.Assets.versioned("images/slack_logo.svg")" alt="The Slack logo." width="61.5"
            class="slack-logo"/>
            <div>Add to Slack</div>
          </button>
          <br>
          <br>
        </div>
      </div>

           <h1>  <a id="q1_no_alerted_of_large_btc"> Future Services <br> </a> </h1>
              Perhaps you might be interested in one of our near future proposed
              services or want to suggest a service you would love to exist or wished was more accessible.
                <ol>
                    <li>Get alerts whenever transactions happen in connection with specific Bitcoin addresses</li>
                    <li>Get special network activity measures, such as our version of the clustering coeffcient
                    that has been shown to indicate bubbles and crashes in the Bitcoin price</li>
                  </ol>

              If so, please use our feedback form to mention a new service you have thought of or pick one our proposals above.

        </p>
      </div>


          </div>
        </div>
      </div>
    </div>
  </div>


</main>

}

