
@main("Installation successful") {
    <main class="main">
        <div class="section">
            <div class="container">
                <h1>Success! Welcome to Block Insights.</h1>

                <h3> Getting started:</h3>
                <ol>
                    <li> Head over to the Slack workspace where you installed the block-insights bot.</li>
                    <li> Configure a new alert by using the command <code>/crypto-alert X</code> where X stands for
                        the minimum transaction size you want to receive alerts for. For example, <code>/crypto-alert
                        50</code> registers a new alert with a minimum transaction size of 50 BTC. </li>
                    <li> Pause and Resume alerts by using the commands <code>/pause-alerts</code> and
                        <code>/resume-alerts</code> respectively.</li>
                    <li> Reconfigure the minimum transaction size by using the command
                        <code>/crypto-alert Y</code> where Y is the new minimum size.</li>
                </ol>
            </div>
        </div>
    </main>
}

