<h1 id="symbiotica-research-ltd-ta-blockinsights.co.uk">Symbiotica Research Ltd (t/a Blockinsights.co.uk)</h1>
<h1 id="privacy-policy">Privacy Policy</h1>
<h1 id="our-contact-details">Our contact details </h1>
<p>Name: Symbiotica Research Ltd (t/a Blockinsights.co.uk)</p>
<p>E-mail: <a href="mailto:feedback@blockinsights.co.uk">feedback@@blockinsights.co.uk</a></p>
<p>Date Policy Completed: 7-Sept-2022</p>
<p>Reason: The following information is collected to provide a blockchain alerts service (also referred to as <strong>@block-insights</strong>) about transactions on crypto currency chains like Bitcoin.</p>
<h1 id="the-type-of-personal-information-we-collect">The type of personal information we collect </h1>
<p>We currently collect and process the following information:</p>
<ul>
<li><p>When you sign-up we collect your <strong>email address</strong> which is used to identify your login.</p></li>
<li><p>When you install our app to a Slack workspace, we record your <strong>Slack workspace id</strong> and an encrypted access token supplied to us by Slack in order to be able to respond to bot commands.</p></li>
<li><p>We collect your <strong>Slack user_id</strong> so you can contact us for support issues</p></li>
<li><p>When you invite a bot to a channel we collect that <strong>Slack channel id</strong></p></li>
<li><p>Record the <strong>association between our reference and a user’s slack id</strong></p></li>
<li><p>Our user id is associated with a user’s command history used in the alert service</p></li>
</ul>
<p><strong><br />
</strong></p>
<h1 id="how-we-get-the-personal-information-and-why-we-have-it">How we get the personal information and why we have it</h1>
<p>Most of the personal information we process is provided to us directly by you for one of the following reasons:</p>
<ul>
<li><p>The blockchain alert service essentially requires the collection of our customers Slack workspace name, channel id and user id for the service to run</p></li>
<li><p>We also collect the command history sent to the bot providing the alert service to provide support services when functionality fails and to additionally, understand the use of the service to improve it in future. For example, knowing the frequency of command use, whether the system is used constantly or periodically, can suggest new commands and where effort should be put to improve system speed.</p></li>
<li><p>By having this command history and slack user_id we can better support any technical issues.</p></li>
</ul>
<p>We use the information that you have given us in order to conduct user research about product improvement, e.g., to gain insight or support for new functionality.</p>
<p>We do not share this information with 3<sup>rd</sup> parties apart from via cookies (see cookies section below), unless required by UK law.</p>
<p>Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing this information are:</p>
<p><strong>(a) Your consent. You are able to remove your consent at any time. You can do this by contacting</strong> <a href="mailto:feedback@blockinsights.co.uk">feedback@@blockinsights.co.uk</a></p>
<p><strong>(b) We have a legitimate interest.</strong></p>
<ul>
<li><p><strong>We store your data to be able to provide a service that can be robust and well supported, e.g., individual service issues can be investigated and fixed.</strong></p></li>
<li><p><strong>We can analyse command history to understand how our @block-insights service is used by customers and therefore, which features are important and could be made more efficient, faster or with improved functionality.</strong></p></li>
</ul>
<h1 id="cookies-statement">Cookies Statement</h1>
<p>We use 3<sup>rd</sup> party cookies for analysis of website behaviour, this includes:</p>
<ul>
<li><p>Google analytics cookies</p></li>
<li><p>geolocation of your device</p></li>
</ul>
<h1 id="section"></h1>
<h1 id="how-we-store-your-personal-information">How we store your personal information </h1>
<p>Your information is securely stored.</p>
<p>We keep your email, slack user id, slack channel id, slack workspace name linked to our own user id and command history for 5 years to support ongoing product development. We will then dispose your information by deleting it from our company databases whether stored in the cloud or on-premise systems.</p>
<h1 id="your-data-protection-rights">Your data protection rights</h1>
<p>Under data protection law, you have rights including:</p>
<p><strong>Your right of access</strong> - You have the right to ask us for copies of your personal information.</p>
<p><strong>Your right to rectification</strong> - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</p>
<p><strong>Your right to erasure</strong> - You have the right to ask us to erase your personal information in certain circumstances.</p>
<p><strong>Your right to restriction of processing</strong> - You have the right to ask us to restrict the processing of your personal information in certain circumstances.</p>
<p><strong>Your right to object to processing</strong> - You have the the right to object to the processing of your personal information in certain circumstances.</p>
<p><strong>Your right to data portability</strong> - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</p>
<p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>
<p>Please contact us at <a href="mailto:feedback@blockinsights.co.uk">feedback@blockinsights.co.uk</a> if you wish to make a request.</p>
<h1 id="how-to-complain">How to complain</h1>
<p>If you have any concerns about our use of your personal information, you can make a complaint to us at</p>
<p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
<p>The ICO’s address:</p>
<p>Information Commissioner’s Office</p>
<p>Wycliffe House</p>
<p>Water Lane</p>
<p>Wilmslow</p>
<p>Cheshire</p>
<p>SK9 5AF</p>
<p>Helpline number: 0303 123 1113</p>
<p>ICO website: <a href="https://www.ico.org.uk" class="uri">https://www.ico.org.uk</a></p>
